@import "./variables/variables", "./resets/resets", "./mixins/mixins", "./partials/header", "./partials/slides", "./partials/cards";

body {
    background-color: $black-body;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    min-height: 100%;
}

.whatsapp-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 15px;
    margin-left: 80vw;
    height: 50px;
}
